<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8" />
</head>
<body>
    <section class="layout-content" layout:fragment="corpo">
        <div class="container">
            <div th:if="${sucesso} != null">
                <div class="alert alert-success" role="alert">
                    <i class="oi oi-check"></i> <span> <strong
                        th:text="${sucesso}"></strong>
                        </span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                            aria-label="Close"></button>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover table-sm">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Nome</th>
                        <th>Carga horária</th>
                        <th>Professor</th>
                        <th>Curso</th>
                        <th>Ação</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="d : ${pageDisciplina.registros}">
                        <td th:text="${d.codigo}"></td>
                        <td th:text="${d.nome}"></td>
                        <td th:text="${d.cargaHoraria}"></td>
                        <td th:text="${d.professor.nome}"></td>
                        <td th:text="${d.curso.nome}"></td>
                        <td colspan="2"><a class="btn btn-warning btn-sm"
                                           th:href="@{/disciplinas/editar/{codigo}(codigo=${d.codigo})}"
                                           role="button">
                               <span class="oi oi-brush" title="Editar"
                                     aria-hidden="true"></span>
                            </a>

                            <button th:id="${'btn_disciplinas/excluir/' + d.codigo}"
                                type="button" class="btn btn-danger btn-sm"
                                data-bs-toggle="modal" data-bs-target="#myModal">
                                <span class="oi oi-circle-x" title="Exclusão desabilitada" aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link" th:href="@{/disciplinas/listar(page=${1})}" tabindex="-1">Primeira</a>
                    </li>
                    <li th:class="${pageDisciplina.pagina == 1} ? 'page-item disabled' : 'page-item'">
                        <a class="page-link" th:href="@{/disciplinas/listar(page=${pageDisciplina.pagina - 1})}" tabindex="-1">Anterior</a>
                    </li>
                    <li class="page-item">
                        <span class="page-link" th:text="'Página ' + ${pageDisciplina.pagina} + ' de ' + ${pageDisciplina.totalDePaginas}"></span>
                    </li>
                    <li th:class="${pageDisciplina.pagina == pageDisciplina.totalDePaginas} ? 'page-item disabled' : 'page-item'">
                        <a class="page-link" th:href="@{/disciplinas/listar(page=${pageDisciplina.pagina + 1})}">Próxima</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" th:href="@{/disciplinas/listar(page=${pageDisciplina.totalDePaginas})}" tabindex="-1">Última</a>
                    </li>
                </ul>
            </nav>
            <div class="modal fade" tabindex="-1" role="dialog" id="myModal">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Atenção</h4>
                        </div>
                        <div class="modal-body">
                            <p>Tem certeza que deseja excluir?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button id="ok_confirm" type="button" class="btn btn-primary">Ok</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>


