<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8" />
</head>
<body>
    <section class="layout-content" layout:fragment="corpo">
        <div class="container">
            <div th:if="${sucesso} != null">
                <div class="alert alert-success" role="alert">
                    <i class="oi oi-check"></i> <span> <strong
                        th:text="${sucesso}"></strong>
                        </span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                            aria-label="Close"></button>
                </div>
            </div>
            <p>
                <i class="oi oi-magnifying-glass"></i><span></span>
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNome" aria-expanded="false" aria-controls="collapseNome">
                    Nome
                </button>
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCurso" aria-expanded="false" aria-controls="collapseCurso">
                    Curso
                </button>
            </p>
            <div class="row">
                <div class="col">
                    <div class="collapse" id="collapseNome">
                        <nav class="navbar navbar-light bg-light">
                            <form class="form-inline" method="GET" th:action="@{/alunos/buscar/nome}">
                                <input class="form-control mr-sm-2" type="search" placeholder="nome" aria-label="Search" th:name="nome" />
                                <button class="btn btn-outline-success my-2 my-sm-0">Pesquisar</button>
                            </form>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="collapse" id="collapseCurso">
                        <nav class="navbar navbar-light bg-light">
                            <form class="form-inline" method="GET" th:action="@{/alunos/buscar/curso}">
                                <select class="form-select mr-sm-2" th:name="codigo" aria-label="Search">
                                    <option value="">Curso</option>
                                    <option th:each="c : ${cursos}" th:value="${c.codigo}" th:text="${c.nome}"></option>
                                </select>
                                <button class="btn btn-outline-success my-2 my-sm-0">Pesquisar</button>
                            </form>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover table-sm">
                    <thead>
                    <tr>
                        <th>Matrícula</th>
                        <th>Nome</th>
                        <th>Endereço</th>
                        <th>Curso</th>
                        <th>Ação</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="a : ${alunos}">
                        <td th:text="${a.matricula}"></td>
                        <td th:text="${a.nome}"></td>
                        <td>
                            <button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="popover" data-bs-trigger="focus"
                                th:attr="data-bs-content=${#strings.concat(
                                    a.endereco.rua, ', ',
                                    a.endereco.bairro, ', nº',
                                    a.endereco.numero, ', ',
                                    a.endereco.cidade
                                )}">
                                <span class="oi oi-eye" title="Visualizar" aria-hidden="true"></span>
                            </button>
                        </td>
                        <td th:text="${a.curso.nome}"></td>
                        <td colspan="2"><a class="btn btn-info btn-sm"
                                           th:href="@{/alunos/editar/{matricula}(matricula=${a.matricula})}"
                                           role="button">
                               <span class="oi oi-brush" title="Editar"
                                     aria-hidden="true"></span>
                        </a>

                            <button th:id="${'btn_alunos/excluir/' + a.matricula}"
                                    type="button" class="btn btn-danger btn-sm"
                                    data-bs-toggle="modal" data-bs-target="#myModal">
                                <span class="oi oi-circle-x" title="Exclusão desabilitada" aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal fade" tabindex="-1" role="dialog" id="myModal">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Atenção</h4>
                        </div>
                        <div class="modal-body">
                            <p>Tem certeza que deseja excluir?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button id="ok_confirm" type="button" class="btn btn-primary">Ok</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>


