<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8" />
</head>
<body>
    <section class="layout-content" layout:fragment="corpo">
        <div class="container">
            <div th:if="${sucesso} != null">
                <div class="alert alert-success" role="alert">
                    <i class="oi oi-check"></i> <span> <strong
                        th:text="${sucesso}"></strong>
                        </span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                            aria-label="Close"></button>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover table-sm">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Nome</th>
                        <th>Área</th>
                        <th>Ação</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="p : ${professores}">
                        <td th:text="${p.matricula}"></td>
                        <td th:text="${p.nome}"></td>
                        <td th:text="${p.area}"></td>
                        <td colspan="2"><a class="btn btn-info btn-sm"
                                           th:href="@{/professores/editar/{matricula}(matricula=${p.matricula})}"
                                           role="button">
                               <span class="oi oi-brush" title="Editar"
                                     aria-hidden="true"></span>
                            </a>

                            <button th:id="${'btn_professores/excluir/' + p.matricula}"
                                type="button" class="btn btn-danger btn-sm"
                                data-bs-toggle="modal" data-bs-target="#myModal">
                                <span class="oi oi-circle-x" title="Exclusão desabilitada" aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal fade" tabindex="-1" role="dialog" id="myModal">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Atenção</h4>
                        </div>
                        <div class="modal-body">
                            <p>Tem certeza que deseja excluir?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button id="ok_confirm" type="button" class="btn btn-primary">Ok</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>


