<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
</head>
<body>
	<nav class="sidebar sidebar-open navbar-expand-md"
		th:fragment="nav-sidebar">
		<ul class="nav nav-pills ">
			<li class="nav-item "><a class="nav-link " href="/ "> <i
					class="oi oi-home "></i> <span>Cadastro</span>
			</a></li>
		</ul>
		<ul class="nav nav-pills ">
			<li class="nav-item "><span class="nav-link active ">Cursos</span></li>
			<li class="nav-item "><a class="nav-link "
				href="/cursos/cadastrar "> <i class="oi oi-plus "></i> <span>Cadastrar</span>
			</a></li>
			<li class="nav-item "><a class="nav-link "
				href="/cursos/listar "> <i class="oi oi-spreadsheet "></i> <span>Listar
				</span>
			</a></li>
		</ul>
		<ul class="nav nav-pills ">
			<li class="nav-item "><span class="nav-link active ">Professores</span></li>
			<li class="nav-item "><a class="nav-link "
				href="/professores/cadastrar "> <i class="oi oi-plus "></i> <span>Cadastrar
				</span>
			</a></li>
			<li class="nav-item "><a class="nav-link "
				href="/professores/listar "> <i class="oi oi-spreadsheet "></i>
					<span>Listar </span>
			</a></li>
		</ul>
		<ul class="nav nav-pills ">
			<li class="nav-item "><span class="nav-link active ">Disciplinas</span></li>
			<li class="nav-item "><a class="nav-link "
				href="/disciplinas/cadastrar "> <i class="oi oi-plus "></i> <span>Cadastrar</span>
			</a></li>
			<li class="nav-item "><a class="nav-link "
				href="/disciplinas/listar "> <i class="oi oi-spreadsheet "></i>
					<span>Listar </span>
			</a></li>
		</ul>
		<ul class="nav nav-pills ">
			<li class="nav-item "><span class="nav-link active ">Alunos</span></li>
			<li class="nav-item "><a class="nav-link "
				href="/alunos/cadastrar "> <i class="oi oi-plus "></i> <span>Cadastrar
				</span>
			</a></li>
			<li class="nav-item "><a class="nav-link "
				href="/alunos/listar "> <i class="oi oi-spreadsheet "></i> <span>Listar
				</span>
			</a></li>
			<li class="nav-item "><a class="nav-link "
				href="/matriculas/cadastrar "> <i class="oi oi-book "></i> <span>Matricular
				</span>
			</a></li>
			<li class="nav-item "><a class="nav-link "
				href="/matriculas/listar "> <i class="oi oi-box "></i> <span>Histórico
						escolar </span>
			</a></li>
		</ul>
	</nav>
</body>
</html>